@media screen and (max-width: 480px) {
  body {
    background-image: url(/img/thunder3.jpg);

    background-size: cover;

    height: 100%;

    overflow: hidden;
  }
}

.description {
  color: rgb(203, 203, 203);
}
body {
  text-align: center;
  background-image: url(/img/thunder3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.container {
  margin-top: 50px;
}
.input-field {
  width: 240px;
}
#result {
  color: rgb(255, 255, 255);
}
